<p>
El sitio Web <strong>“opendata. delaserena.es”</strong> es la plataforma del Ayuntamiento destinada a la publicación de la información municipal en formatos abiertos para facilitar
la reutilización de la misma.
</p>
<p>
Hoy en día los datos se consideran un activo fundamental en áreas tan diversas e importantes como la transparencia, la participación, la innovación, el crecimiento económico
o los beneficios sociales.
En consecuencia, los datos constituyen una de las principales fuentes de riqueza municipal y por tanto es responsabilidad del ayuntamiento el compartir esa riqueza con la sociedad.
</p>
<p>
La iniciativa de datos abiertos (Open Data en inglés) del Ayuntamiento de   dela Serena persigue el objetivo de facilitar al público el acceso a la información
utilizando para ello formatos abiertos y ampliamente utilizados de forma que puedan ser reutilizarlos fácilmente.
</p>
<p>
El sitio Web <strong>“opendata. delaserena.es”</strong> ofrece un catálogo de datos que han sido específicamente diseñados para facilitar su reutilización.
Podemos encontrar catálogos con datos abiertos del sector público en todos los niveles administrativos, ya sea nacional, regional o local.
</p>